<div class="jumbotron">
    <h1>Web API</h1>
    <p class="lead">Este es el Web API que contiene los métodos de acceso que exponen la información alojada en Base de Datos para ser comsumida por la aplicación MVC.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

