@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Aplicación Web MVC</h1>
    <p class="lead">Esta es la aplicación Web MVC que consume los métodos de acceso del API, mediante peticiones http. Para comenzar, por favor inicia sesión</p>
</div>
